
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Fungsi bantuan untuk keamanan
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Aturan untuk data pengguna (Aktivitas dan Log)
    match /users/{userId} {
      match /activities/{activityId} {
        allow read, write: if isOwner(userId);
      }
      match /logs/{logId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
